.FecharMesa{
    text-align: center;
      background-color: #242424
}
button{
    background-color: #242424;
    color: white;
}

    input{
        background-color: #242424;
        border-radius: 10px;
        border: 2px #198754 solid;
       }

.cardTroco{
    background-color: #474747;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
.troco{
    color: #198754 ;
    font-weight: bold;
}