.input{
    display: flex;
    justify-content: center;
   input {
    width:500px;
    padding: 5px;
    margin-right: 10px;
}
}
.statusMesa{
    display: flex;
    font-style: italic;
    align-items: center;
   p{
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
   }
   .livre{
    background-color: #198754;
    color: white;
   }
   .ocupado{
    background-color: #dc3545;
    color: white;
   }
   .reserva{
    background-color: rgb(141, 141, 42);
    color: white;
   }
}